<!DOCTYPE html>
<html>
<head>
  <title>Script runner</title>
  <%= stylesheet_link_tag    "script_runner/application", media: "all" %>
  <%= javascript_include_tag "script_runner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
